# B2 credentials.
# Extracted settings so both systemd timers and user can just source this when want to work on my B2 backup.
# See https://restic.readthedocs.io/en/latest/030_preparing_a_new_repo.html

export RESTIC_REPOSITORY="rclone:<GDRIVE_REPO-name>"
export RESTIC_PASSWORD_FILE="etc/restic/GDRIVE_REPO_pw.txt"
